
[mysqladmin]
user=root

[mysqld]
basedir=/home/rex/Desktop/Code/WordPress/Ytube/mysql
datadir="/home/rex/Desktop/Code/WordPress/Ytube/mysql/data"
port=3307
socket=/home/rex/Desktop/Code/WordPress/Ytube/mysql/tmp/mysql.sock
tmpdir=/home/rex/Desktop/Code/WordPress/Ytube/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1
skip-name-resolve=1
expire_logs_days=7

default-authentication-plugin=mysql_native_password
character-set-server=UTF8
collation-server=utf8_general_ci
[client]
port=3307
socket=/home/rex/Desktop/Code/WordPress/Ytube/mysql/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3307
socket=/home/rex/Desktop/Code/WordPress/Ytube/mysql/tmp/mysql.sock
pid-file=/home/rex/Desktop/Code/WordPress/Ytube/mysql/tmp/manager.pid
default-mysqld-path=/home/rex/Desktop/Code/WordPress/Ytube/mysql/bin/mysqld.bin

